@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'argentum-sans';
    src: url('./fonts/ArgentumSans/ArgentumSans-Black.ttf') format('truetype');
    font-weight: 900;
}